// Change this to your desired Singularity image directory
params.singularity_image_dir = '/mnt/sdd1/luc/singularity_images' 
params.scratch_dir = false

executor {
    queueSize = 50
    submitRateLimit = '5 sec'
}

// Individual process configuration are defined here 
process { 

    withLabel: gpu {
        queue = 'gpu'
        clusterOptions = '--gres=gpu:1'
    }

    withLabel: cpu {
        queue = 'cpu'
    }


   withName: '.*' {
        cache     = 'lenient'
        container = "${params.singularity_image_dir}/GAQA-bash.sif"
        errorStrategy = 'retry'
        maxRetries = 3
        label = 'cpu'
    }

    withName: 'FASTA_TO_JSON' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"

        cpus = 0
        memory = '1 GB'
        time = '0h'
        label = 'cpu'
    }

    withName: 'GENERATE_REPORT' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"

        cpus = 1
        memory = '2 GB'
        time = '30m'
        label = 'cpu'
    }

    withName: 'METAPREDICT_DISORDER' {
        container = "${params.singularity_image_dir}/GAQA-metapredict.sif"
        label = 'gpu'

        cpus = 8
        memory = '16 GB'
        time = '2d'
    }

    withName: 'PLOT_METAPREDICT' {
        
        container = "${params.singularity_image_dir}/GAQA-python.sif"
        label = 'cpu'

        cpus = 2
        memory = '4 GB'
        time = '2h'

    }
    
    withName: 'PLOT_PLDDT' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"
        label = 'cpu'

        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withName: 'PLOT_PSAURON' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"
        label = 'cpu'

        cpus = 2
        memory = '4 GB'
        time = '2h'
    }

    withName: 'PROCESS_MODELS' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"
        label = 'cpu'

        cpus = 4
        memory = '8 GB'
        time = '4h'
    }

    withName: 'PROTENIX_PREDICT' {
        container = "${params.singularity_image_dir}/GAQA-protenix.sif"
        label = 'gpu'

        cpus = 8
        memory = '16 GB'
        time = '2d'
	beforeScript = "mkdir -p ${params.singularity_image_dir}/apptainer-tmp/protenix_cache && cp -rn ${params.protenix_cache}/. ${params.singularity_image_dir}/apptainer-tmp/protenix_cache/"
        containerOptions = "--nv --bind ${projectDir}/../bin/ps:/usr/bin/ps --bind ${projectDir}/../bin/ld-musl-x86_64.so.1:/tmp/pslib/ld-musl-x86_64.so.1 --bind ${projectDir}/../bin/libintl.so.8:/tmp/pslib/libintl.so.8 --bind ${projectDir}/../bin/libproc2.so.1:/tmp/pslib/libproc2.so.1 --bind ${projectDir}/../bin/libskarnet.so.2.14:/tmp/pslib/libskarnet.so.2.14 --bind ${projectDir}/../bin/libutmps.so.0.1:/tmp/pslib/libutmps.so.0.1 --bind ${projectDir}/../bin/ps-real:/tmp/ps --bind ${params.singularity_image_dir}/apptainer-tmp/protenix_cache:${params.protenix_cache}"
    }

    withName: 'PSAURON_RUN' {
        container = "${params.singularity_image_dir}/GAQA-psauron.sif"
        label = 'gpu'

        cpus = 8
        memory = '16 GB'
        time = '2d'

    }

    withName: 'SPLIT_JSON' {
        container = "${params.singularity_image_dir}/GAQA-python.sif"
        label = 'cpu'

        cpus = 1
        memory = '2 GB'
        time =  '1h'
    }

}
