params {
    chunk_size = 100  // default max sequences per Protenix JSON chunk; InterProScan reuses however many chunks that produces
    protenix_cache = '/mnt/hc-storage/groups/veupathdb_annotation/protenix_cache'  // Change this to your desired Protenix cache directory
    interpro_data = '' // Change this to your desired InterPro data directory
    run_interpro = false
    ipr_reference_json = "${projectDir}/reference/ipr_coverage.json"
}

profiles {
    singularity_slurm {
        includeConfig "${projectDir}/../conf/singularity.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir 
            runOptions = "--nv"    
        }
        
        process {
            executor = 'slurm'
            cpus = 8
            memory = '16 GB'
            time = '2d'
            maxRetries = 2

            // GPU allocation, one GPU per job, spread across nodes
            // clusterOptions = '--gres=gpu:1 --exclusive --distribution=block:cyclic'

            // submit multiple tasks at once for parallel scheduling
        }
    }


    singularity_local {
        includeConfig "${projectDir}/../conf/singularity.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir 
            runOptions = "--nv"
	}

        process {
            executor = 'local'
            cpus = 8
            memory = '16 GB'
            time = '2d'
            maxRetries = 2
        }
    }
}

