params {
    chunk_size = 100  // default sequences per JSON chunk
    protenix_cache = '/mnt/sdc1/luc/protenix_cache'  // Change this to your desired Protenix cache directory
    run_interpro = false
    ipr_reference_json = "${projectDir}/reference/ipr_coverage.json"
}

profiles {
    singularity_slurm {
        includeConfig "${projectDir}/../conf/singularity.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir 
            
            runOptions = "--nv --bind ${projectDir}/../bin/ps:/usr/bin/ps --bind ${projectDir}/../bin/ld-musl-x86_64.so.1:/tmp/pslib/ld-musl-x86_64.so.1 --bind ${projectDir}/../bin/libintl.so.8:/tmp/pslib/libintl.so.8 --bind ${projectDir}/../bin/libproc2.so.1:/tmp/pslib/libproc2.so.1 --bind ${projectDir}/../bin/libskarnet.so.2.14:/tmp/pslib/libskarnet.so.2.14 --bind ${projectDir}/../bin/libutmps.so.0.1:/tmp/pslib/libutmps.so.0.1 --bind ${projectDir}/../bin/ps-real:/tmp/ps"
        }
        
        process {
            executor = 'slurm'
            cpus = 8
            memory = '16 GB'
            time = '2d'
            maxRetries = 2

            // GPU allocation, one GPU per job, spread across nodes
            // clusterOptions = '--gres=gpu:1 --exclusive --distribution=block:cyclic'

            // submit multiple tasks at once for parallel scheduling
        }
    }


    singularity_local {
        includeConfig "${projectDir}/../conf/singularity.config"
        singularity {
            enabled = true
            cacheDir = params.singularity_image_dir 
            runOptions = "--nv --bind ${projectDir}/../bin/ps:/usr/bin/ps --bind ${projectDir}/../bin/ld-musl-x86_64.so.1:/tmp/pslib/ld-musl-x86_64.so.1 --bind ${projectDir}/../bin/libintl.so.8:/tmp/pslib/libintl.so.8 --bind ${projectDir}/../bin/libproc2.so.1:/tmp/pslib/libproc2.so.1 --bind ${projectDir}/../bin/libskarnet.so.2.14:/tmp/pslib/libskarnet.so.2.14 --bind ${projectDir}/../bin/libutmps.so.0.1:/tmp/pslib/libutmps.so.0.1 --bind ${projectDir}/../bin/ps-real:/tmp/ps"
        }

        process {
            executor = 'local'
            cpus = 8
            memory = '16 GB'
            time = '2d'
            maxRetries = 2
        }
    }
}

